@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.8);
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@layer utilities {
  .elcenter {
    @apply flex justify-center items-center;
  }

  .elbetween {
    @apply flex justify-between items-center;
  }

  .elstart {
    @apply flex justify-start items-center;
  }
}
